/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #99998f;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  stroke: #79ad9f;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #f8a73f;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #db5c01;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #1b1612;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  background: #C1D796;
  background-size: .2em 100%;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.wrapper {
  background: #C1D796;
}

main {
  width: 85%;
  margin: 0 auto;
  font-size: 20px;
  color: #000;
}

main p {
  width: 50%;
  line-height: 100%;
}

footer {
  width: 85%;
  margin: 0 auto;
}

footer .social-networks {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-networks img {
  width: 50px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-right: 20px;
}

footer .social-networks img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer p {
  font-size: 15px;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.designer .ariseko {
  width: 40px;
  border-radius: 40%;
  margin-left: 2%;
}

#dis:target {
  -webkit-box-shadow: 20px 20px 20px #fff;
          box-shadow: 20px 20px 20px #fff;
}
